In [0]:
CREATE
OR REPLACE TABLE customers AS
SELECT
customer_id2 AS customer_id,
tax_id,
tax_code,
customer_name3 AS customer_name,
state,
city,
postcode,
street,
number,
unit,
region,
district,
lon,
lat,
ship_to_address,
valid_from,
valid_to,
units_purchased,
loyalty_segment
FROM
data
WHERE
table_name1 IS NULL
AND table_name IS NULL;


CREATE
OR REPLACE TABLE sales AS
SELECT
customer_id,
customer_name,
product_name,
order_date,
product_category,
product,
total_price
FROM
data
WHERE
table_name IS NOT NULL;